[Desktop Entry]
Version=1.0
Name=Glava
Exec=/home/user/Vidgex/Glava.sh
#пропишите свой путь до папки (Exec)
Type=Application
Terminal=false
Categories=Application;
   

